@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #F9FAFB;
  color: #111827;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
